
{% extends 'main.html' %}

{% block content %}

{{message}}  # Msg Discrbe 3 for view message 

<!-- {% load static %} -->

<h1>Projects Template</h1>

<table>
    <tr>
       
        <th>Project</th>
        <th>Positive Votes</th>
        <th>Ratio</th>
        <th>Date</th>
        <th></th>
        <th></th>

    </tr>

    {% for Item in ItemList %}
    <tr>
       
        <td>{{Item.title}}</td>
        <td>{{Item.Vote_Ratio}}%</td>
        <td>{{Item.Total_vote}}</td>
        <td>{{Item.Date_created}}</td>
        <td><a href="{% url  'update-project' Item.id %}">Edit</a></td>
        <td><a href="{% url  'project' Item.id %}">View</a></td>
    </tr>

    {%endfor%}
</table>
<!-- 
<!-- <ul> #unoredred list
    {% for Item in ItemList %} # For Loop and Accessing data from views List
       #Ordered
       <li>Title:{{Item.title}}  ---{{Item.Discribtion}}</li>#Ordered list
    
        <li>Title:<a href="{% url  'project' Item.id %}">{{Item.title}}</a>  ---{{Item.Date_created}} </li>   
        #Ordered list
     
    {%endfor%}
</ul  > -->
 




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend Template</title>
    <link rel="stylesheet" href="styles.css">
</head>

</html>

{% endblock content %}